/* Use variables in css
source: https://stackoverflow.com/questions/45384456/using-variables-for-a-hex-color
*/
:root {
    --main-color: #06c;
    --accent-color: #006;
    --dark-blue: #3E38F2;
    --white: #ffffff;
    --purple: #551a8b;

    /*
    --black: #0D0D0D;
    --aqua: #D93030;
    --orange: #F27405;
    --offwhite: #D9A404;
    --red: #BF3073;
*/

/*
https://coolors.co/011627-fdfffc-2ec4b6-e71d36-ff9f1c
*/

    --black: #011627;
    --aqua: #2ec4b6;
    --orange: #ff9f1c;
    --offwhite: #fdfffc;
    --red: #e71d36; 
    --techorange: #f60;
   /* --red: #f60;  techawk color */
  }



.container {
    background-color: var(--white);
    border-bottom-color: black;
}

nav a {
    color: var(--black);
}


hr {
    background-image: linear-gradient(to right,var(--white),var(--red), var(--white));

}
