.hide {
  display: none;
}

.alert {
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  background-color: #ff000c;
  font-family: 'Fira Coda', sans-serif;
  margin: 44px;
  margin-top: 4px;
  padding: 15px;
  width: 90%;
  text-align: center;
  box-shadow: 2px 4px black;
}

li {
  margin-top: 55px;
  margin-bottom: 55px;
  text-align: center;
}

.icon-heart {
  color: #f60;
  margin-bottom: 15px;
}