.div-youtube {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-gap: 10%;
    padding-top: 40px;
}



.photo {
    border-radius: 5%;
    border: 8px solid black;
    width: 100%;

}


.container-tanuki {
    display: grid;
    justify-items: center;
    margin: 25px;
    padding: 25px;
    align-content: center;
    justify-content: center;

}

.container-intro {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-bottom: 120px;
}

.container-last {
    margin-bottom: 30px;

}

 article > p {
      margin-bottom: 100px;
      text-align: center;
  }

  a {
      text-decoration: none;
      color: black;
  }

  article > p > a {
    font-weight: bold;
    line-height: 2.5;
    letter-spacing: 2.5px;
  }

  .last-p {
      margin-bottom: 240px;
  }

  hr {
      width: 100%;
  }