/* Index.html specific css */

.div-youtube {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-gap: 10%;
    padding-top: 40px;
}



.tanuki {
    width: 30%;
    border-radius: 50%;
    border: 8px solid black;
    box-shadow: 2px 4px black;

}

.container-tanuki {
    display: grid;
    justify-items: center;
    margin: 25px;
    padding: 25px;
    align-content: center;
}


.full-height {
    height: 100%;
    background: aliceblue;
  }